@import 'variables';

.container {
  overflow: hidden;
  padding: $padding;
}

.content {
  background: #eee;
  width: 100%;
  height: 100%;
  border: 1px solid #aaa;
  height: 250px;
  overflow: scroll;
}
