@import 'variables';

.container {
  background: #263238;
  height: 100%;
  border: 1px solid #263238;
  font-family: monospace;
  color: #1a7b72;
  padding: $padding;
}

.log {
  font-size: 12px;
  padding: $padding / 2;
}

.title {
  font-size: 11px;
}
