body {
  font-size: 'Roboto', sans-serif;
  background: #eee;
  margin: 0;
}

div {
  box-sizing: border-box;
}

h2 {
  font-size: 14px;
  margin: 0;
  padding: 5px;
  font-weight: bold;
  display: inline-block;
}
