@import 'variables';

body {
  font-family: 'Roboto', sans-serif;
  background: $color-background;
  margin: 0;
}

div {
  box-sizing: border-box;
}

h2 {
  font-size: 11px;
  background: #333;
  margin: 0;
  padding: 5px;
  font-weight: normal;
  display: block;
  color: $color-title;
}
