@import 'https://fonts.googleapis.com/css?family=Roboto';

body {
  font-size: 'Roboto', sans-serif;
  background: #eee;
}

h2 {
  font-size: 14px;
  margin: 0;
  padding: 5px;
  font-weight: bold;
  display: inline-block;
}

.column {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.code-view,
.output-view {
  overflow: hidden;
  padding: 10px;
}

.output-view > .content {
  background: #eee;
  height: 100%;
  padding: 10px;
  border: 1px solid #aaa;
  height: 330px;
  overflow: scroll;
}

.ace_editor {
  border: 1px solid #aaa;
  width: 100%;
}
