@import 'variables';

.container {

}

.run, .logs, .clearLogs {
  padding: $padding * 2;
  background: #fff;
  border: 1px solid #ccc;
  margin-right: $margin / 2;
  color: black;
}
.run {
  background: #333;
  color: white;
}
